.blue {
  color: blue;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.hazel {
  color: #594c26;
}

.aquamarine {
  color: aquamarine;
}

.periwinkle {
  color: #7e6ff3;
}

.azure {
  color: azure;
}